:root {
  /* Radius */
  --radius-sm: 8px;
  --radius-xs: 4px;
  --radius-full: 500px;

  /* Gaps */
  --gap-default: 0.75rem;
  --gap-small: 0.594rem;

  /* Heights */
  --input-height-small: 40px;
  --input-height-default: 48px;
}
